.index-page {
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .h2 {
            margin: 0;
        }
        a.btn {
            display: flex;
            align-items: center;
            padding: 9px 13px;
            margin-left: 10px;
            color: $black;
            line-height: 1;
            border: 1px solid $black;
            border-radius: 3em;
            span {
                font-size: $h6;
                &.material-icons-round {
                    margin-left: 3px;
                }
            }
        }
    }
    .bg-images,
    .bg-primary-400 {
        .title {
            color: $white;
            a.btn {
                color: $white;
                border-color: $white;
                &:hover {
                    color: $black;
                    background-color: $white;
                }
            }
        }
    }
}

section {
    &.opening {
        position: relative;
        color: $gray-400;
        background-color: $black;
        overflow: hidden;
        @include media-breakpoint-up(md) {
            padding-top: 100px;
            padding-bottom: 260px;
        }
        @include media-breakpoint-down(md) {
            padding-top: 60px;
            padding-bottom: 160px;
        }
        video {
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .container {
            position: relative;
        }
        h1 {
            img {
                height: 48px;
                @include media-breakpoint-up(md) {
                    height: 72px;
                }
            }
        }
        h2 {
            img {
                height: 24px;
                @include media-breakpoint-up(md) {
                    height: 36px;
                }
            }
        }
        p {
            color: $gray-400;
            font-size: $h5;
            line-height: 1.75;
        }
    }
    &.promote {
        overflow: hidden;
        .container {
            @include media-breakpoint-up(sm) {
                max-width: 500px;
            }
            @include media-breakpoint-up(md) {
                max-width: 920px;
            }
            a {
                @include media-breakpoint-up(sm) {
                    padding: 0 5px;
                }
            }
            .slick-list {
                overflow: visible;
            }
        }
    }
    .bg-images {
        position: relative;
        background-size: cover;
        background-position: center;
        &::before {
            @include beforeafter('', block);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black, 0.7);
        }
        .container {
            position: relative;
        }
    }
}

.promote-banner {
    @include media-breakpoint-down(md) {
        margin-left: -$container-padding-x;
        margin-right: -$container-padding-x;
    }
}

.cards-feature {
    @include media-breakpoint-down(md) {
        margin-left: -$container-padding-x*2;
        margin-right: -$container-padding-x*2;
    }
    .card-text {
        h4 {
            position: relative;
            &::after {
                @include beforeafter('', block);
                width: 30px;
                height: 2px;
                margin: 10px auto;
                background-color: $primary;
            }
        }
        p {
            color: $gray-500;
        }
    }
}

.cards-channel {
    margin-left: -$container-padding-x;
    margin-right: -$container-padding-x;
    .card-items {
        padding-left: $container-padding-x;
        padding-right: $container-padding-x;
        a:not(.btn) {
            display: block;
        }
    }
    .card-head {
        padding-left: 20px;
        padding-right: 20px;
        background-color: darken($gray-100, 4.5%);
        .card-item {
            display: flex;
            align-items: center;
        }
    }
    .card-body {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        background-color: $white;
        .card-item {
            border-bottom: 1px solid $gray-200;
        }
        a.btn {
            width: 100%;
            justify-content: end;
            margin-top: 20px;
            line-height: 1;
            span {
                font-size: $h6;
            }
        }
    }
    .card-item {
        padding-top: 20px;
        padding-bottom: 20px;
        .item-img {
            img {
                width: 70px;
            }
        }
        .item-txt {
            padding-left: 15px;
            > * {
                margin-top: 0;
                margin-bottom: 0;
            }
            .h4 {
                color: $black;
                @include typo-weight;
            }
            p {
                color: $gray-500;
            }
        }
        a.h5 {
            height: $h5 * 1.5 * 2;
            line-height: 1.5;
            @include lineclamp(2);
        }
        .detail {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            color: $gray-500;
            font-size: $h6;
            .time {
                display: flex;
                align-items: center;
                span.material-icons-outlined {
                    margin-right: 5px;
                    font-size: $h6;
                }
            }
        }
    }
}

.cards-latest {
    display: flex;
    flex-wrap: wrap;
    .card-item {
        display: flex;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        border: 1px solid $gray-200;
        @include media-breakpoint-up(sm) {
            width: calc((100% - 20px) / 2);
            margin-left: 20px;
            &:nth-child(2n+1) {
                margin-left: 0;
            }
        }
        .item-img {
            img {
                width: 60px;
                @include media-breakpoint-up(md) {
                    width: 100px;
                }
            }
        }
        .item-txt {
            width: calc(100% - 60px);
            padding-left: 15px;
            @include media-breakpoint-up(md) {
                width: calc(100% - 100px);
                padding-left: 20px;
            }
            a {
                display: block;
                &.btn-black {
                    @include lineclamp(2);
                }
                &.h6 {
                    margin-top: 0;
                    margin-bottom: 5px;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 10px;
                    }        
                }
            }
        }
        .detail {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            color: $gray-500;
            font-size: $h6;
            .time {
                display: flex;
                align-items: center;
                span.material-icons-outlined {
                    margin-right: 5px;
                    font-size: $h6;
                }
            }
        }
    }
}
