.search-page {
    .container {
        max-width: 880px;
    }
}
.sort-nav {
    border-bottom: 1px solid $gray-200;
    ul {
        @include list(0 0 -1px, 0, none);
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up(md) {
            gap: 45px;
        }
        @include media-breakpoint-down(md) {
            padding-left: 30px;
            padding-right: 30px;
        }
        li {
            @include media-breakpoint-down(md) {
                width: 33%;
            }
        }
        a {
            display: block;
            padding-top: 11px;
            padding-bottom: 11px;
            color: $black;
            text-align: center;
            border-bottom: 3px solid transparent;
            @include media-breakpoint-up(md) {
                min-width: 80px;
            }
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            &:hover {
                color: $primary;
            }
            &.active {
                color: $primary;
                border-bottom-color: $primary;
            }
        }
    }
}

.filter-nav {
    border-bottom: 1px solid $gray-200;
    ul {
        @include list(0, 0, none);
        li {
            cursor: pointer;
        }
    }
    > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        > li {
            position: relative;
            display: flex;
            align-items: center;
            padding: 13px 20px;
            > ul {
                display: none;
                position: absolute;
                top: 100%;
                min-width: 100%;
                max-width: 265px;
                background-color: $white;
                border: 1px solid $gray-200;
                &:first-child {
                    left: 0;
                }
                &:last-child {
                    @include media-breakpoint-up(md) {
                        left: 0;
                    }
                    @include media-breakpoint-down(md) {
                        right: 0;
                    }
                    @media screen and (max-width: 374px) {
                        right: -20px;
                    }
                }
                > li {
                    padding: 12px 20px;
                    color: $black;
                    white-space: nowrap;
                    &:hover {
                        &:not(.datepicker) {
                            color: $primary;
                        }
                    }
                    &.datepicker {
                        cursor: auto;
                    }
                }
            }
            &.active {
                color: $primary;
                .material-symbols-outlined {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48
    }
}

.datepicker {
    .d-flex {
        align-items: center;
        gap: 5px;
        padding-top: 5px;
        font-size: 16px;
        transform: scale(0.75);
        transform-origin: left;
    }
    input {
        width: 110px;
        padding: 6px 10px;
        border: 1px solid $gray-200;
    }
    button {
        padding: 7px;
        color: $white;
        font-weight: 500;
        background-color: $black;
        border: 0;
        cursor: pointer;
        &:hover {
            background-color: $primary;
        }
    }
}
