header {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid $gray-100;
  .container-fluid {
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }
  }
}

nav.navbar {
  @include media-breakpoint-down(md) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px;
    background-color: $white;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 2;
    &.active {
      transform: translateX(0);
    }
  }
  .icon-close {
    @include media-breakpoint-up(md) {
      display: none;
    }
    float: right;
    padding: 5px;
    font-size: $h3;
  }
  ul {
    @include list(0, 0, none);
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
    }
    @include clear;
    li {
      @include media-breakpoint-up(md) {
        margin-left: 30px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 30px;
      }
      a {
        display: block;
        color: $black;
        @include media-breakpoint-up(md) {
          font-size: $h6;
        }
        @include media-breakpoint-down(md) {
          font-size: $h5;
        }
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

form.form-search {
  border: 1px solid $gray-300;
  @include media-breakpoint-up(md) {
    width: 175px;
  }
  @include media-breakpoint-down(md) {
    width: 220px;
  }
  label {
    display: flex;
    width: 100%;
    > * {
      display: block;
      font-size: $h5;
      border: 0;
      appearance: none;
      outline: 0;
      @include media-breakpoint-up(md) {
        line-height: 2.1875;
      }
      @include media-breakpoint-down(md) {
        line-height: 2.5;
      }    
    }
  }
  input {
    padding: 0 0 0 10px;
    width: inherit;
  }
  button {
    padding: 0 5px;
    background-color: transparent;
    i {
      display: block;
      font-size: 1.5rem;
    }
  }
}

.black {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.5;
  z-index: 0;
  &.active {
    display: block;
  }
}
