.slick-slider {
    position: relative;
}

#management {
    .slick-track {
        margin-left: 0;
        margin-right: 0;
    }
}

.slick-dots {
    @include list(30px 0 0, 0, none);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 0;
    li {
        + li {
            margin-left: 5px;
        }
        button {
            width: 6px;
            height: 6px;
            padding: 0;
            margin: 0;
            background-color: $white;
            border: 0;
            border-radius: 50%;
            opacity: 0.3;
            .cards-recommend & {
                background-color: $black;
            }
        }
        &.slick-active {
            button {
                opacity: 1;
                .cards-recommend & {
                    background-color: $primary;
                }
            }
        }
    }
}

.slick-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: $white;
    font-size: $h4;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    &.slick-prev {
        left: 10px;
        .cards-feature &,
        .cards-recommend & {
            @include media-breakpoint-down(md) {
                left: 20px;
            }
        }
        .promote-banner & {
            @include media-breakpoint-up(sm) {
                left: -20px;
            }
            @include media-breakpoint-down(sm) {
                left: 20px;
            }
        }
    }
    &.slick-next {
        right: 10px;
        .cards-feature &,
        .cards-recommend & {
            @include media-breakpoint-down(md) {
                right: 20px;
            }
        }
        .promote-banner & {
            @include media-breakpoint-up(sm) {
                right: -20px;
            }
            @include media-breakpoint-down(sm) {
                right: 20px;
            }
        }
    }
    .promote-banner &,
    .cards-feature & {
        top: 50%;
        background-color: rgba($black, 0.2);
        transform: translateY(-50%);
        @include media-breakpoint-up(md) {
            transition: background-color 0.3s;
            &:hover {
                background-color: rgba($black, 0.5);
            }
        }
    }
    .cards-recommend & {
        bottom: 0;
        background-color: rgba($black, 0.2);
        @include media-breakpoint-up(md) {
            transition: background-color 0.3s;
            &:hover {
                background-color: rgba($black, 0.5);
            }
        }
    }
    .cards-channel & {
        bottom: 0;
        background-color: rgba($white, 0.3);
    }
}
